
body {
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}